In [166]:
import pandas as pd
from pandas import DataFrame
from sqlalchemy import create_engine, Engine

In [167]:
query: str = """SELECT * 
                FROM datas
                ORDER BY serie ASC, edition_id ASC, number ASC;
        """

In [168]:
engine: Engine = create_engine("postgresql+psycopg2://shooterdev:azenbvqsdmlk@127.0.0.1:5433/scrasp_mangatheque")

df: DataFrame = pd.read_sql(query, engine, 'index')
#df: DataFrame = pd.read_csv("/Users/shooterdev/Labs/PycharmProjects/scrap_mangacollec/csv/L'Attaque des Titans.csv")
df = df.drop_duplicates()

In [169]:
df.columns

Index(['id', 'title', 'number', 'release_date', 'isbn', 'asin', 'edition_id',
       'possessions_count', 'not_sold', 'image_url', 'YEAR', 'MONTH', 'DAY',
       'HOUR', 'kind', 'serie', 'genre', 'publisher', 'edition_title',
       'edition_volumes_count', 'commercial_stop', 'last_volume_number',
       'not_finished', 'follow_editions_count', 'parent_edition_id',
       'authors'],
      dtype='object')

In [170]:
df.head

<bound method NDFrame.head of                                          id title  number release_date  \
index
193    30de6db1-033a-4ed7-b3e3-678e5c4a4a80  None      98   2021-05-19
196    e3b0efec-d8df-441f-bc69-7db72d7d927f  None      99   2021-09-15
197    6811a9d0-ec55-42cf-9460-951302750ba0  None     100   2021-12-08
211    9007e7fc-fb9e-4481-abd0-d7b703c99009  None       1   2000-09-20
212    767a11d2-095f-4fbe-a1e7-897a41ca04ee  None       2   2000-11-22
...                                     ...   ...     ...          ...
25     80cfe8d1-84ab-4a59-8956-4cdb416c8fd2  None      36   2016-12-28
24     c6cf36a8-23ba-4490-bd93-ef08fd7ce3ce  None      37   2017-01-11
0      7c8db2b2-36a1-4944-ab78-3e00ab1cfdd4  None      38   2017-01-25
77     8429613e-e7aa-4e88-b25c-12d26eb042ea  None      39   2017-02-08
157    f7f4b31b-dae0-4503-8585-24d656a9539c  None      40   2017-02-22

                isbn        asin                            edition_id  \
index
193    9782344047576  2344047573  8078d40e-b965-4d02-9942-9e3de4ff2937
196    9782344048757  2344048758  8078d40e-b965-4d02-9942-9e3de4ff2937
197    9782344050149  2344050140  8078d40e-b965-4d02-9942-9e3de4ff2937
211    9782723433358  2723433358  9ceb8fac-09c4-4ba8-b61b-a8f4034b096b
212    9782723434317  2723434311  9ceb8fac-09c4-4ba8-b61b-a8f4034b096b
...              ...         ...                                   ...
25          M1258036        None  e6d6ec1d-3523-413a-9d25-bd5eb114138c
24          M1258037        None  e6d6ec1d-3523-413a-9d25-bd5eb114138c
0           M1258038        None  e6d6ec1d-3523-413a-9d25-bd5eb114138c
77          M1258039        None  e6d6ec1d-3523-413a-9d25-bd5eb114138c
157         M1258040        None  e6d6ec1d-3523-413a-9d25-bd5eb114138c

       possessions_count  not_sold  \
index
193                11382     False
196                14374     False
197                17043     False
211                 6985     False
212                 6088     False
...                  ...       ...
25                   591      True
24                   601      True
0                    587      True
77                   588      True
157                  581      True

                                               image_url  ...  genre  \
index                                                     ...
193    https://m.media-amazon.com/images/I/51YYExNqHN...  ...  Manga
196    https://m.media-amazon.com/images/I/41skiULFCJ...  ...  Manga
197    https://m.media-amazon.com/images/I/51XWcik+LN...  ...  Manga
211    https://images-eu.ssl-images-amazon.com/images...  ...  Manga
212    https://images-eu.ssl-images-amazon.com/images...  ...  Manga
...                                                  ...  ...    ...
25     https://api.mangacollec.com/rails/active_stora...  ...  Manga
24     https://api.mangacollec.com/rails/active_stora...  ...  Manga
0      https://api.mangacollec.com/rails/active_stora...  ...  Manga
77     https://api.mangacollec.com/rails/active_stora...  ...  Manga
157    https://api.mangacollec.com/rails/active_stora...  ...  Manga

       publisher                 edition_title  edition_volumes_count  \
index
193       Glénat             Edition collector                      3
196       Glénat             Edition collector                      3
197       Glénat             Edition collector                      3
211       Glénat  1re édition (numéros blancs)                     66
212       Glénat  1re édition (numéros blancs)                     66
...          ...                           ...                    ...
25        Glénat                   Edition Log                     40
24        Glénat                   Edition Log                     40
0         Glénat                   Edition Log                     40
77        Glénat                   Edition Log                     40
157       Glénat                   Edition Log                     40

      commercial_stop last_volume_number not_finished follow_editions_count  \
index
193             False                NaN        False                 24245
196             False                NaN        False                 24245
197             False                NaN        False                 24245
211              True               66.0         True                  9621
212              True               66.0         True                  9621
...               ...                ...          ...                   ...
25              False               40.0        False                  2462
24              False               40.0        False                  2462
0               False               40.0        False                  2462
77              False               40.0        False                  2462
157             False               40.0        False                  2462

                          parent_edition_id  \
index
193    d56047bf-5855-4757-9f2f-539f9922e8db
196    d56047bf-5855-4757-9f2f-539f9922e8db
197    d56047bf-5855-4757-9f2f-539f9922e8db
211    d56047bf-5855-4757-9f2f-539f9922e8db
212    d56047bf-5855-4757-9f2f-539f9922e8db
...                                     ...
25                                     None
24                                     None
0                                      None
77                                     None
157                                    None

                                                 authors
index
193    [{"name": "Oda", "first_name": "Eiichir\u014d"...
196    [{"name": "Oda", "first_name": "Eiichir\u014d"...
197    [{"name": "Oda", "first_name": "Eiichir\u014d"...
211    [{"name": "Oda", "first_name": "Eiichir\u014d"...
212    [{"name": "Oda", "first_name": "Eiichir\u014d"...
...                                                  ...
25     [{"name": "Oda", "first_name": "Eiichir\u014d"...
24     [{"name": "Oda", "first_name": "Eiichir\u014d"...
0      [{"name": "Oda", "first_name": "Eiichir\u014d"...
77     [{"name": "Oda", "first_name": "Eiichir\u014d"...
157    [{"name": "Oda", "first_name": "Eiichir\u014d"...

[223 rows x 26 columns]>

In [171]:
df.describe()

,number,possessions_count,YEAR,MONTH,DAY,HOUR,edition_volumes_count,last_volume_number,follow_editions_count
count,223.000000,223.000000,223.0,223.0,223.0,223.0,223.000000,110.000000,223.000000
mean,43.816143,28202.538117,2025.0,5.0,8.0,21.0,81.080717,57.272727,76825.331839
std,29.995455,29458.502399,0.0,0.0,0.0,0.0,31.233395,13.634084,70245.662019
min,1.000000,59.000000,2025.0,5.0,8.0,21.0,3.000000,40.000000,2462.000000
25%,19.000000,2397.500000,2025.0,5.0,8.0,21.0,66.000000,40.000000,9621.000000
50%,38.000000,11382.000000,2025.0,5.0,8.0,21.0,66.000000,66.000000,24245.000000
75%,64.000000,49575.500000,2025.0,5.0,8.0,21.0,110.000000,66.000000,147780.000000
max,110.000000,124733.000000,2025.0,5.0,8.0,21.0,110.000000,86.000000,147780.000000

In [172]:
df.mode(numeric_only=True)

,number,possessions_count,not_sold,YEAR,MONTH,DAY,HOUR,edition_volumes_count,commercial_stop,last_volume_number,not_finished,follow_editions_count
0,1,682.0,False,2025.0,5.0,8.0,21.0,110.0,False,66.0,False,147780.0
1,2,2464.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Moyene

In [173]:
df.mean(numeric_only=True)

number                      43.816143
possessions_count        28202.538117
not_sold                     0.206278
YEAR                      2025.000000
MONTH                        5.000000
DAY                          8.000000
HOUR                        21.000000
edition_volumes_count       81.080717
commercial_stop              0.295964
last_volume_number          57.272727
not_finished                 0.295964
follow_editions_count    76825.331839
dtype: float64

In [174]:
df['kind']

index
193    {Action,Aventure,Combat,Comédie,Fantasy,Pirate...
196    {Action,Aventure,Combat,Comédie,Fantasy,Pirate...
197    {Action,Aventure,Combat,Comédie,Fantasy,Pirate...
211    {Action,Aventure,Combat,Comédie,Fantasy,Pirate...
212    {Action,Aventure,Combat,Comédie,Fantasy,Pirate...
                             ...
25     {Action,Aventure,Combat,Comédie,Fantasy,Pirate...
24     {Action,Aventure,Combat,Comédie,Fantasy,Pirate...
0      {Action,Aventure,Combat,Comédie,Fantasy,Pirate...
77     {Action,Aventure,Combat,Comédie,Fantasy,Pirate...
157    {Action,Aventure,Combat,Comédie,Fantasy,Pirate...
Name: kind, Length: 223, dtype: object

In [175]:
df[['not_sold','possessions_count']].value_counts()

not_sold  possessions_count
False     2464                 2
True      682                  2
False     2246                 1
          2306                 1
          2275                 1
                              ..
True      1421                 1
          1479                 1
          1494                 1
          1658                 1
          2251                 1
Name: count, Length: 221, dtype: int64

In [176]:
df.columns

Index(['id', 'title', 'number', 'release_date', 'isbn', 'asin', 'edition_id',
       'possessions_count', 'not_sold', 'image_url', 'YEAR', 'MONTH', 'DAY',
       'HOUR', 'kind', 'serie', 'genre', 'publisher', 'edition_title',
       'edition_volumes_count', 'commercial_stop', 'last_volume_number',
       'not_finished', 'follow_editions_count', 'parent_edition_id',
       'authors'],
      dtype='object')

In [177]:
df[['last_volume_number']].corr()

                    last_volume_number
last_volume_number                 1.0

# CLEAN

In [178]:
df = df.drop_duplicates(subset=['YEAR', 'MONTH', 'DAY', 'HOUR', 'id'])
df.to_sql(name="data_clean", con=engine, if_exists="replace")
df.to_sql(name="datas", con=engine, if_exists="replace")

223